<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Portfolio</title>
</head>
<body>
    <h2>Titre de mon Portfolio</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo voluptatibus inventore voluptatem laudantium adipisci earum impedit provident deserunt, id consequuntur! Minima non repudiandae mollitia adipisci iusto beatae consectetur perspiciatis assumenda.</p>
</body>
</html>