@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);
@import url('https://fonts.googleapis.com/css?family=Raleway:400,700,900|Ultra');


/*style reset*/
    /*supprimer les marges*/

    *{
    margin: 0;

    padding: 0;
    }
    /*faire en sorte que 1rem soit egal a 10px*/
    html{
    font-size: 62.5%;
    }

    body{
        font-size: 1.5rem;

        /*changer la famille de caractere*/
        font-family: 'Raleway', sans-serif;
    }

    /*supprimer la decoration des balises A*/
    a{
        text-decoration: none;
    }

    /*faire en sorte que les images ne depasse pas leur parents*/

    img{
        max-width: 100%;
    }

    section{
         
          padding: 6rem;
        
    }

    h1, h2, h3 {
        font-family: 'Ultra', serif;

        font-weight: 400;
    }

    h2{

        font-size: 4rem;

        text-align: center;

        text-transform: uppercase;

        margin-bottom: 3rem;                
    }

    h3{
        /*Changer la couleur*/
        color: snow;

        /*Modifier la casse*/
        text-transform: uppercase;

        /*Ajouter une marge exterieur*/     
        margin-bottom: 3rem;


        font-size: 2.5rem;
    }

    /*Style largeur maximum*/

    nav ul, main section:first-child, main section:nth-child(2) p, main section:last-child, footer section{
    /*definir une largeur maximum*/
        max-width: 95rem;
        /*centrer une balise de type block dans son parent*/
        margin: auto;
    }


/*Style header*/

    header{
         
         /*Aligner le texte au centre*/
         text-align: center;

         /*Ajouter couleur dU texte*/
         color: white;

         /*Ajouter couleur de fond*/
         background: #18bc9c;

        /*Ajouter une marge interieur en bas de 60px*/
         padding-bottom: 6rem;
    }

    nav{
        /*Mettre le texte en majuscule*/
        text-transform: uppercase;

        /*Ajouter couleur de fond*/
        background: #2C3E50;
        /*Aligner le texte en ligne*/
        text-align: right;

        /*Ajouter une marge interieur*/
        padding: 3rem;

        /*Ajouter une marge exterieur*/
        margin-bottom: 6rem;

    }

    nav a{
        /*modifier la couleur de texte*/
        color: white;

        /*Passer le texte en gras*/
        font-weight: bold;
    }

    li{
        /*Aligner les balises li*/
        display: inline-block;

        /*Ajouter une marge exterieur*/
        margin-right: 1rem;
    }
    
    h1{
        /*Mettre le texte en majuscule*/
        text-transform: uppercase;

        /*Ajouter une marge interieur en haut*/
        padding-top: 3rem;

        font-size: 5rem;

        position: relative;
    }
/*creer une balide horizontale sous balise h1*/
    h1:after{
        /*Ajouter un contenu(meme vide) pour afficher la balise*/
        content:"";
        /*changer le type de balise*/
        display: block;
        height: .5rem;
        width: 20rem;
        margin: 2rem auto;
        background: white;

    }


    h1:before{
        content: "";
       
        display: block;
        width: 4rem;
        height: 4rem;

        margin: auto;
        /*gestion de l'image de fond*/
         background-image: url(../img/star-xxl.png);
         /*bloquer la  repetition de l'image de fond*/
         background-repeat: no-repeat;
        /*modifier la taille de l'image de fond*/
         background-size: 100%;

         background-color: #18bc9c;

         border: 1rem solid #18bc9c;

         /*positionner la balise*/
         position: absolute;
         top: 100%;
         left:50%;

        -webkit-transform: translate(-50%, -60%);
         transform: translate(-50%, -60%);
    }

    nav ul{
        /*Bloquer les enfants dans leur parent*/
        position: relative;
    }

    nav li:first-child{
        /*Sortir la balise du flux pour la repositioner precisement*/
        position: absolute;

        /*Placer la balise a gauche*/
        left: 0;

        /*modifier la taille de la font*/
        font-size: 2rem;
    }

    headet p{

        font-size: 3.5rem;
    }

/*Style portfolio*/

    

    main section:first-child{
        text-align: center;
        }

    main section:first-child article{

        /*Ajouter une marge exterieur*/
        margin: 1rem;

        /*creer 3 colonnes*/
        display: inline-block;
        width: 29%;

        position: relative;

        line-height: 0;

    }

     main section:first-child a{
        font-size: 8rem;

         background: rgba(24, 188, 156, .7);
         color: white;
        /**/
         position: absolute;

         top: 0;
         left: 0;

         /*Faire en sorte que la balise soit a cent pour cent de la taille de la balise parent*/
        
        width: 100%;
        height: 100%;

        /*Modifier l' opacity de la balise en hover*/
        opacity: 0;

        /*Gerer une transition entre les etats de la balise*/

        -webkit-transition: all .5s;
        transition: all .5s;
        }

        main section:first-child a:hover{
            opacity: 1;
         }

        

        main section:first-child .fa{
        position: absolute;
        top: 20%;
        left: 50%;
        /*decaler la balise sur l'axe X et Y*/

        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);

        -webkit-transition: all .5s;
        transition: all .5s;
        }

        main section:first-child a:hover .fa{
             top: 50%;
         }          

    /*Style about*/

    main section:nth-child(2){
        /*Modifier la couleur de texte*/
        color: snow;
        /*Modifier la couleur de fond*/
        background: #18bc9c;
        /*centre le texte*/
        text-align: center;
    }


    main section:nth-child(2) p{
      /*Affiche le texte sur 2 colonnes*/
    -webkit-column-count: 2; /* Chrome, Safari, Opera */
    -moz-column-count: 2; /* Firefox */
    column-count: 2; 

    /*Justifier le texte*/
    text-align: justify;  

    margin-bottom: 4rem;
  }

  main section:nth-child(2) a{
      color: white;
      border: .3rem solid white ;
      padding: 1rem 1.5rem;
      font-weight: bold;

      /*creer un bord arrondi*/
      border-radius: 1rem;


  }

  /*Style contact me*/

    input, textarea{
        display: block;
        width: 90%;
        margin: 1rem;
        padding: 1rem;
        font-size: 2rem;

        /*Annuler le style du navigateur*/
        border: none;
        /*redefinir la bordure*/
        border-bottom: .1rem solid #c0c0c0;
    }


    textarea{
        /*definir la hauteur de textarea*/
        min-height: 20rem;
    }

    /*Selectionner une balise grace a sonattribut et sa valeur*/

    [type="submit"]{
        display: inline-block;
        width: 10rem;
        color: white;
        font-weight: bold;
        margin-left: 3rem;
        background:#18BC9C;
        border-radius: 1rem;
    }

    /*Style footer*/

    footer{
        color: white;
        text-align: center;
        background: #2c3e50;
    }

    footer article{
        display: inline-block;
        width: 29%;
        vertical-align: top;
    }

/*Selectionner une balise grace a son attribut et sa valeur*/
    [href="http://google.com"]{
        color: #18bc9c;
    }

    aside{
        padding: 1.5rem;
        background: #233140;
    }
















