 <h2>A propos</h2>
    <img src="src/app/img/profil.jpg" alt="">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium porro temporibus debitis est officiis repudiandae repellendus autem odio voluptates quod quos, commodi soluta natus quia eos id quibusdam. Perspiciatis, possimus!</p>

    <h3>Mes Competences</h3>
    <ul>
            <li>
                <p><span>HTML: 80 %</span></p>
            </li>
            <li>
                <p><span>CSS: 60 %</span></p>
            </li>
            <li>
                <p><span>JS: 40 %</span></p>
            </li>


            <p>N'hesitez pas a nous contacter</p>

        </ul>
