<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Contenu de la page</title>
</head>
<body>

    <article id="portfolio">
        <h2>Mon Portfolio</h2>
        <p>Deconvrer mes travaux</p>
        <img src="http://lorempixel.com/200/200" alt="Mes photo">
    </article>

    <article id="contacts">
        <h2>Contacter moi</h2>
        <p>Decouvrer mes travaux</p>
        <form action="#">
            <input type="email" placeholder="Votre adresse email">
            <textarea  placeholder="Votre message" ></textarea>
            <input type="submit" value="Envoyer">
        </form>

        <aside></aside>

        <p>Adresse: London</p>
    </article>
    
</body>
</html>