@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');



/*Style reset*/
    

    *{
        /*Supprimer les marges*/
        margin: 0;
        padding: 0;

        /*Inclure dans la largeur le padding et le border*/
        -webkit-box-sizing: border-box ;
        box-sizing: border-box;
        }

    /*Faire en sorte que 1rem soit egal a 10px*/
    html{
        font-size: 62.5%;
    }


    body{
        /*1.5rem = 15px*/
        font-size: 1.5rem; 
         }

    /*Supprimer la décoration des balises A*/
    a{
        text-decoration: none;
    }

    /*Faire en sorte que les images ne dépassent pas leur parent*/
    img{
         max-width: 100%;
    }

    /*
    Style header
    -Ajouter une marge interieur de 20px
    -La nav ne depasse pas 850px
    -Les liens de la nav sont centres sauf le premier qui  est a gauche et dernier qui est a droite 
    */

    header{
        padding: 2rem;
        border: .1em dashed black;
    }

    nav{
        max-width: 85rem;
        margin: auto;
        border: .1rem 
    }

 