@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');



/*
Style reset
*/
    

    *{
        /*Supprimer les marges*/
        margin: 0;
        padding: 0;

        /*Inclure dans la largeur le padding et le border*/
        -webkit-box-sizing: border-box ;
        box-sizing: border-box;
        }

    /*Faire en sorte que 1rem soit egal a 10px*/
    html{
        font-size: 62.5%;
    }


    body{
        /*1.5rem = 15px*/
        font-size: 1.5rem; 
        align-content: center;
         }

    /*Supprimer la décoration des balises A*/
    a{
        text-decoration: none;
    }

    /*Faire en sorte que les images ne dépassent pas leur parent*/
    img{
         max-width: 100%;
    }

    main{
        padding: 2rem;
    }
    /*
    Mettre le formulaire et l'image sur 2 colonnes
    */

    #myForm article{
        text-align: left;
        display: inline-block;
        width: 48%;
        vertical-align: top;
        margin: 2rem auto;
    }



    /*
    Modal
    */

    #modal{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, .7);

        display: none;
        
    }

    #modal article{
        width: 30rem;
        background-color: white;
        padding: 2rem;
        margin: 5rem auto;
    }
 

 /*
 Pour les ecrans d'ume taille mimimum de 550px; mettre les articles sur 2 colonnes
 */

 @media screen and ( min-width: 550px){

    main section{
        display: inline-block;
        width: 49%;
        vertical-align: top;
    }

 }


 /*
 Pour les ecrans d'ume taille mimimum de 850px; mettre les articles sur 2 colonnes
 */

 @media screen and ( min-width: 850px){


    main section{
        
        width: 31%;
        
    }




 }
