/*Importer une feuille de style*/

@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);

*{
    /*Inclure dans les largeur le padding et le border*/

    -webkit-box-sizing: border-box ;
    box-sizing: border-box;
}
body{
    text-align: center;
}


ul{
    padding: 0;
}
li{
    padding: 1rem;
}

/*Masquer la nav pour les mobiles*/

nav{
    display: none;
}

/*Gestion de mon burger en css*/

.fa-bars{

    font-size: 2rem;

    /*Changer l'aspect du curseur*/

    cursor:pointer;

}

/*Afficher la nav lorsque le curseur est au dessus du menu burger*/

.fa-bars:hover + nav{

    display: block;
}

article{
    color: red;
}


/*Configurer les styles pour les ecrans d'une taille minimale de 500px*/
@media screen and (min-width:550px){


    /*Recrer les selecteur pour les modifier */

        article{

            display: inline-block;
            width: 49%;

        }
}



@media screen and (min-width:850px){


        /*Masquer le burger*/
        .fa-bars{
            display: none;
        }
        /*Afficher la nav*/
        nav{
            display: block;
        }

        /*Justifier a gauche le texte des articles*/

        article{
            text-align: left;
        }

        
        nav li{

            display: inline-block;
            padding: 0 .5rem;

        }

        main{
            max-width: 950px;
            margin: auto;
        }

        header{
            width: 950px;
            margin: auto;
            background: red;

            padding: 20px;
        }

}